
.flag{
  background-color: rgb(206, 17, 38) ;
  height: 600px;
  width: 900px;
  font-size: xx-large;
  text-align: center;
}
.flag> div > div {
  height: 200px;
  width: 200px;
  border-radius:50%;
  background-color: aliceblue;
  position: absolute;
  top: 50px;
  left: 350px;
}
.flag > div {
  background-color:  rgb(0, 40, 104);
  height: 300px;
  width: 100%;
  position: relative;
  top: 80px;

}
p{
  margin:50px 0px 0px 0px;
    
  font-size: 4rem;
  color: black;
}
.flag > p {
  color:white;
}
